.navbar {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        z-index: 1;
        /* Use a higher z-index to ensure it's above other elements */
}


.navbar a {
    color: rgb(255, 191, 0);
}

.navBarLinks {
    border-left: 50px;
        border-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
        font-size: x-large;
    padding: 20px;
    width: 100%;
}
