body {
  background-size: cover;
}
#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.7); */
    /* Use rgba with an alpha value (0.7 in this example) */
    border-radius: 25px;
}

.background {
  /* Styles for the content container */

    text-align: center;
      color: #f6e9db;
}