:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #fbfbfb;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/images/lotrMapWallpaper.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #f53315;
  }
  button {
    background-color: #f9f9f9;
  }
}

.Signup {
  color: white;
}

.signuplabels {
  color: white;
  font-size: xx-large;
  padding: 20px;
  margin: 20px;
}
.welcomeBackground {
  display: flex;
    flex-direction: column;
  text-align: center;
  color: white;
}
.welcomeBackground h1 {
  color: white;
}
.createPokerEvent {
  padding: 50px;
  color: gold;
  font-size: x-large;
  font-weight: bold;
}
.profilePageBox {
  padding: 50px;
  font-size: x-large;
}

.loginHomePage {
  display: flex;
  flex-direction: row;
  font-size: xx-large;
}

/* the styling for all the poker venues */

.allPokerEventsPageImages {
  width: 80vw;
  border-radius: 12px;
}

/* .allPokerEventsPageTitlesOnImage {
  position: absolute;
  align-content: center;
  top: 10px;
  left: 75px;
  background-color: none;
  padding: 5px;
  color: gold;
} */